{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="article5 cid-svGLkEVmLN" id="article06-5">




    <div class="container mt-5">
        <div class="row justify-content-center m-5">
            <div class="card col-12 col-lg">
                <div class="card-wrapper align-left">
                    <h6 class="card-title mbr-fonts-style mb-4 display-1"><strong>About Mobile Zone</strong></h6>
                    <p class="mbr-text mbr-fonts-style display-7">At Mobile Zone, we prioritize customer satisfaction
                        above all else. Our knowledgeable and friendly staff are always on hand to assist you, offering
                        expert advice, technical support, and personalized recommendations to ensure you find the
                        perfect device to suit your lifestyle.

                        Furthermore, we are committed to providing a seamless shopping experience both online and
                        in-store. Our user-friendly website allows you to browse our extensive catalog, compare
                        products, and make purchases with ease, while our physical locations provide a welcoming
                        environment where you can explore our products firsthand and interact with our team.

                        Thank you for choosing Mobile Zone as your trusted mobile retailer. We look forward to serving
                        you and helping you stay connected in style!<br></p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="https://img.freepik.com/free-photo/smartphone-with-small-grocery-cart_23-2147957626.jpg?w=1060&t=st=1709921020~exp=1709921620~hmac=5248833c3fca09fdb4e34520b4f3bd2e5ee7c51a39ae925d258d6b0f7e9bf9c6"
                        alt="" width="550" class="rounded-circle img3">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}